# Word Histogram

```
Word
word
two
three
Seven
seven
five
five
six
john
paul
```

In [1]:
%%writefile "sample.txt"
Word
word
two
three
Seven
seven
five
five
six
john
paul

Overwriting sample.txt

## Reading File

In [2]:
f = open("sample.txt")

In [3]:
type(f)

_io.TextIOWrapper

In [4]:
contents = f.read()

In [5]:
contents

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [6]:
print(contents)

Word
word
two
three
Seven
seven
five
five
six
john
paul

In [7]:
contents2 = f.read()

In [8]:
contents2

''

In [9]:
f.seek(0)

0

In [10]:
contents2 = f.read()

In [11]:
contents2

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [12]:
f.seek(0)

0

In [13]:
words = f.readlines()

In [14]:
words

['Word\n',
 'word\n',
 'two\n',
 'three\n',
 'Seven\n',
 'seven\n',
 'five\n',
 'five\n',
 'six\n',
 'john\n',
 'paul\n']

## Back to Word Histogram

Our solution's steps include:

- Read the file
- Get a list of words
- Create a dictionary to maintain "word:count" pairs.
- Loop over every word in the list.
    - If word present in dictionary, increase its count by 1
    - Else create an entry for this word and set its count TO 1

Implementing the solution in Python.

In [15]:
file_name = input("Enter the file name: ")

Enter the file name: sample.txt

In [16]:
file_name

'sample.txt'

In [17]:
f = open(file_name)

In [18]:
contents = f.read()

In [19]:
contents

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [20]:
type(contents)

str

In [21]:
contents.split()

['Word',
 'word',
 'two',
 'three',
 'Seven',
 'seven',
 'five',
 'five',
 'six',
 'john',
 'paul']

In [22]:
list_of_words = contents.split()

In [23]:
list_of_words

['Word',
 'word',
 'two',
 'three',
 'Seven',
 'seven',
 'five',
 'five',
 'six',
 'john',
 'paul']

In [29]:
word_count = {}

In [25]:
for word in list_of_words:
    if word in word_count:
        word_count[word] = word_count[word] + 1
    else:
        word_count[word] = 1

In [26]:
word_count

{'Word': 1,
 'word': 1,
 'two': 1,
 'three': 1,
 'Seven': 1,
 'seven': 1,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

Our program is treating the same word with different capital letters as different words. We need to change this.

How? We convert all words to lower.

In [30]:
word_count = {}

for word in list_of_words:
    word = word.lower()
    if word in word_count:
        word_count[word] = word_count[word] + 1
    else:
        word_count[word] = 1

In [31]:
word_count

{'word': 2,
 'two': 1,
 'three': 1,
 'seven': 2,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

Using `+=` operator to make the line more compact.

In [32]:
word_count = {}

for word in list_of_words:
    word = word.lower()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

In [33]:
word_count

{'word': 2,
 'two': 1,
 'three': 1,
 'seven': 2,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

## Bonus: Writing the results to a file.

In [34]:
result_file = open(file_name + '.hist', 'w')

In [35]:
result_file.write?

In [37]:
output = str(word_count)

In [38]:
output

"{'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [40]:
output.replace('{', '')

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [42]:
output

"{'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [43]:
output = output.replace('{', '')

In [44]:
output

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [45]:
output = output.replace("}", "")

In [46]:
output

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1"

In [47]:
output = output.replace(",", "\n")

In [48]:
output

"'word': 2\n 'two': 1\n 'three': 1\n 'seven': 2\n 'five': 2\n 'six': 1\n 'john': 1\n 'paul': 1"

In [49]:
print(output)

'word': 2
 'two': 1
 'three': 1
 'seven': 2
 'five': 2
 'six': 1
 'john': 1
 'paul': 1

In [50]:
output = output.replace("'", "")

In [51]:
output

'word: 2\n two: 1\n three: 1\n seven: 2\n five: 2\n six: 1\n john: 1\n paul: 1'

In [52]:
print(output)

word: 2
 two: 1
 three: 1
 seven: 2
 five: 2
 six: 1
 john: 1
 paul: 1

In [53]:
result_file.write(output)

70

In [54]:
result_file.close()

# Functions

A function can be thought of as taking a bunch of statements and giving it a name so that the same set of statements can be executed by referring to the name.

First, we code a simple function that does something without accepting any inputs.

In [55]:
def hello_world():
    print("Welcome!")
    print("Hello World!")
    
print("Outside the function.")

Outside the function.

In [56]:
hello_world

In [57]:
hello_world()

Welcome!
Hello World!

A function which accepts inputs.

In [58]:
def adder(a, b):
    print(a)
    print(b)
    print("Sum is ", a+b)

In [59]:
adder(19, 20)

19
20
Sum is  39

In [60]:
adder(2)

TypeError: adder() missing 1 required positional argument: 'b'

In [61]:
adder("Hello", "World")

Hello
World
Sum is  HelloWorld

In [62]:
adder("Hello", [1,2,3])

Hello
[1, 2, 3]

TypeError: can only concatenate str (not "list") to str

A function that accepts inputs and also returns an output!

In [63]:
def adder2(a, b):
    return a+b

In [65]:
sum_of_ab = adder2(2, 3)

In [66]:
print(sum_of_ab)

5

In [67]:
adder2(19, 20) + 1293

1332

In [68]:
adder2(adder2(1,2), 3)

6

Returns will end the function!!!

In [69]:
def example(a, b):
    return a+b
    print("This will not get executed.")

In [70]:
example(2, 3)

5

Can a function return more than one thing?

In [71]:
def sumdiff(a, b):
    sum = a + b
    diff = a - b
    return sum, diff

In [72]:
sumdiff(10, 5)

(15, 5)

In [73]:
x = sumdiff(10, 5)

In [74]:
type(x)

tuple

So, `return a, b` is returning just one object which is a tuple.

In [75]:
the_sum, the_diff = sumdiff(10, 5)

In [76]:
the_sum

15

In [77]:
the_diff

5

Tuple unpacking gives you the impression that a function can return multiple objects.

In [78]:
x, y = 1, 2

## Flexible Functions