# Word Histogram

```
Word
word
two
three
Seven
seven
five
five
six
john
paul
```

In [1]:
%%writefile "sample.txt"
Word
word
two
three
Seven
seven
five
five
six
john
paul

Overwriting sample.txt

## Reading File

In [2]:
f = open("sample.txt")

In [3]:
type(f)

_io.TextIOWrapper

In [4]:
contents = f.read()

In [5]:
contents

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [6]:
print(contents)

Word
word
two
three
Seven
seven
five
five
six
john
paul

In [7]:
contents2 = f.read()

In [8]:
contents2

''

In [9]:
f.seek(0)

0

In [10]:
contents2 = f.read()

In [11]:
contents2

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [12]:
f.seek(0)

0

In [13]:
words = f.readlines()

In [14]:
words

['Word\n',
 'word\n',
 'two\n',
 'three\n',
 'Seven\n',
 'seven\n',
 'five\n',
 'five\n',
 'six\n',
 'john\n',
 'paul\n']

## Back to Word Histogram

Our solution's steps include:

- Read the file
- Get a list of words
- Create a dictionary to maintain "word:count" pairs.
- Loop over every word in the list.
    - If word present in dictionary, increase its count by 1
    - Else create an entry for this word and set its count TO 1

Implementing the solution in Python.

In [15]:
file_name = input("Enter the file name: ")

Enter the file name: sample.txt

In [16]:
file_name

'sample.txt'

In [17]:
f = open(file_name)

In [18]:
contents = f.read()

In [19]:
contents

'Word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [20]:
type(contents)

str

In [21]:
contents.split()

['Word',
 'word',
 'two',
 'three',
 'Seven',
 'seven',
 'five',
 'five',
 'six',
 'john',
 'paul']

In [22]:
list_of_words = contents.split()

In [23]:
list_of_words

['Word',
 'word',
 'two',
 'three',
 'Seven',
 'seven',
 'five',
 'five',
 'six',
 'john',
 'paul']

In [29]:
word_count = {}

In [25]:
for word in list_of_words:
    if word in word_count:
        word_count[word] = word_count[word] + 1
    else:
        word_count[word] = 1

In [26]:
word_count

{'Word': 1,
 'word': 1,
 'two': 1,
 'three': 1,
 'Seven': 1,
 'seven': 1,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

Our program is treating the same word with different capital letters as different words. We need to change this.

How? We convert all words to lower.

In [30]:
word_count = {}

for word in list_of_words:
    word = word.lower()
    if word in word_count:
        word_count[word] = word_count[word] + 1
    else:
        word_count[word] = 1

In [31]:
word_count

{'word': 2,
 'two': 1,
 'three': 1,
 'seven': 2,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

Using `+=` operator to make the line more compact.

In [32]:
word_count = {}

for word in list_of_words:
    word = word.lower()
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

In [33]:
word_count

{'word': 2,
 'two': 1,
 'three': 1,
 'seven': 2,
 'five': 2,
 'six': 1,
 'john': 1,
 'paul': 1}

## Bonus: Writing the results to a file.

In [34]:
result_file = open(file_name + '.hist', 'w')

In [35]:
result_file.write?

In [37]:
output = str(word_count)

In [38]:
output

"{'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [40]:
output.replace('{', '')

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [42]:
output

"{'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [43]:
output = output.replace('{', '')

In [44]:
output

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1}"

In [45]:
output = output.replace("}", "")

In [46]:
output

"'word': 2, 'two': 1, 'three': 1, 'seven': 2, 'five': 2, 'six': 1, 'john': 1, 'paul': 1"

In [47]:
output = output.replace(",", "\n")

In [48]:
output

"'word': 2\n 'two': 1\n 'three': 1\n 'seven': 2\n 'five': 2\n 'six': 1\n 'john': 1\n 'paul': 1"

In [49]:
print(output)

'word': 2
 'two': 1
 'three': 1
 'seven': 2
 'five': 2
 'six': 1
 'john': 1
 'paul': 1

In [50]:
output = output.replace("'", "")

In [51]:
output

'word: 2\n two: 1\n three: 1\n seven: 2\n five: 2\n six: 1\n john: 1\n paul: 1'

In [52]:
print(output)

word: 2
 two: 1
 three: 1
 seven: 2
 five: 2
 six: 1
 john: 1
 paul: 1

In [53]:
result_file.write(output)

70

In [54]:
result_file.close()

# Functions

A function can be thought of as taking a bunch of statements and giving it a name so that the same set of statements can be executed by referring to the name.

First, we code a simple function that does something without accepting any inputs.

In [55]:
def hello_world():
    print("Welcome!")
    print("Hello World!")
    
print("Outside the function.")

Outside the function.

In [56]:
hello_world

In [57]:
hello_world()

Welcome!
Hello World!

A function which accepts inputs.

In [58]:
def adder(a, b):
    print(a)
    print(b)
    print("Sum is ", a+b)

In [59]:
adder(19, 20)

19
20
Sum is  39

In [60]:
adder(2)

TypeError: adder() missing 1 required positional argument: 'b'

In [61]:
adder("Hello", "World")

Hello
World
Sum is  HelloWorld

In [62]:
adder("Hello", [1,2,3])

Hello
[1, 2, 3]

TypeError: can only concatenate str (not "list") to str

A function that accepts inputs and also returns an output!

In [63]:
def adder2(a, b):
    return a+b

In [65]:
sum_of_ab = adder2(2, 3)

In [66]:
print(sum_of_ab)

5

In [67]:
adder2(19, 20) + 1293

1332

In [68]:
adder2(adder2(1,2), 3)

6

Returns will end the function!!!

In [69]:
def example(a, b):
    return a+b
    print("This will not get executed.")

In [70]:
example(2, 3)

5

Can a function return more than one thing?

In [71]:
def sumdiff(a, b):
    sum = a + b
    diff = a - b
    return sum, diff

In [72]:
sumdiff(10, 5)

(15, 5)

In [73]:
x = sumdiff(10, 5)

In [74]:
type(x)

tuple

So, `return a, b` is returning just one object which is a tuple.

In [75]:
the_sum, the_diff = sumdiff(10, 5)

In [76]:
the_sum

15

In [77]:
the_diff

5

Tuple unpacking gives you the impression that a function can return multiple objects.

In [78]:
x, y = 1, 2

## Flexible Functions

Functions with optional arguments.

In [79]:
def calculator(a, b, calc="sum"):
    if calc == "sum":
        return a+b
    elif calc == "diff":
        return a-b
    elif calc == "prod":
        return a*b
    else:
        print("Incorrect option for 'calc'")

In [80]:
calculator(2, 3, "sum")

5

In [81]:
calculator(2, 3, "diff")

-1

In [82]:
calculator(2, 3)

5

In [83]:
calculator(2, 3, 5.4764)

Incorrect option for 'calc'

When dealing with optional arguments, order matters!

In [84]:
def a_bad_function(a, b=3, calc):
    return a+b

SyntaxError: non-default argument follows default argument (<ipython-input-84-ffce812ef250>, line 1)

In [85]:
def a_better_function(a, calc, b=3):
    return a+b

In [86]:
a_better_function(2, "sum")

5

You can have as many default arguments as you want! They must be all at the end!!!

In [87]:
def example_many_defaults(a, b=2, calc="sum"):
    return a+b

In [88]:
example_many_defaults(2)

4

In [89]:
example_many_defaults(2, 8)

10

In [90]:
example_many_defaults(2, 8, "anything")

10

A function that can accept as many arguments as you want!!!

In [91]:
def summer(a, *x):
    print(a)
    print(x)

In [92]:
summer(1)

1
()

In [93]:
summer(1,2)

1
(2,)

In [94]:
summer(1,2,3)

1
(2, 3)

In [95]:
summer(1,2,3,4)

1
(2, 3, 4)

In [96]:
summer(1,2,3,4,5,5,6,7,7)

1
(2, 3, 4, 5, 5, 6, 7, 7)

In [97]:
def summer(first_number, *remaining_numbers):
    total = first_number
    for num in remaining_numbers:
        total += num
    
    return total

In [98]:
summer(1,2,3,4,5,6,7,8,9,10)

55

An even more flexible function!!!!!

In [99]:
def kwarg_function(a, **x):
    print(a)
    print(x)

In [100]:
kwarg_function(2)

2
{}

In [101]:
kwarg_function(2, 3)

TypeError: kwarg_function() takes 1 positional argument but 2 were given

In [102]:
kwarg_function(2, x1=3)

2
{'x1': 3}

In [103]:
kwarg_function(2, x1=3, x2=544, x3="Hello", x4=True)

2
{'x1': 3, 'x2': 544, 'x3': 'Hello', 'x4': True}

Design the most flexible function in Python!

In [109]:
def super_flexible(a, b=3, *args, **kwargs):
    print(a)
    print(b)
    print(args)
    print(kwargs)

In [110]:
super_flexible(2)

2
3
()
{}

In [111]:
super_flexible(2,5.343,4,5)

2
5.343
(4, 5)
{}

In [112]:
super_flexible(2,5.343,4,5, x1="Hello", x2=True)

2
5.343
(4, 5)
{'x1': 'Hello', 'x2': True}

In [113]:
super_flexible(2, x1="Hello", x2=True)

2
3
()
{'x1': 'Hello', 'x2': True}

## Mutability and Functions

In [114]:
def list_changer(a):
    a[0] = 546565464

In [115]:
a_list = [1,2,3,4]

In [116]:
list_changer(a_list)

In [117]:
a_list

[546565464, 2, 3, 4]

## Functions are Objects!!!

In [118]:
def f():
    print("Hello")

In [119]:
type(f)

function

In [120]:
x = f

In [121]:
f()

Hello

In [122]:
x()

Hello

You can pass functions to other functions!

In [123]:
def f(g):
    print("Hello")
    g()

In [124]:
def any_function():
    print("Any function")

In [125]:
f(any_function)

Hello
Any function

Functions can return functions!!!

In [126]:
def function_returning_function(f):
    def new_function():
        print("New Function")
        
    return new_function

In [127]:
x = function_returning_function(3)

In [128]:
x()

New Function

In [129]:
function_returning_function(45)

## Built-in Tools that Use Functions Accepting Functions

In [130]:
a = [1, 2, 3, 4, 5, 6, 7]

In [131]:
def f(x):
    return x**2.4 + 6.434

In [133]:
list(map(f, a))

[7.434,
 11.712031643091578,
 20.400610165238234,
 34.29161802547597,
 54.025348467896954,
 80.15021039885188,
 113.1514147996562]

In [134]:
round(24.657547567, 2)

24.66