# Dictionaries

In [1]:
d = {
    "Age": 45,
    "Name": "John Doe",
    "active": False,
    "Hobbies": ["Swimming", "Jumping Around"],
    "Bank Details": {
        "Account Number": "876787676576",
        "Bank Code": "EOD874hd"
    }
}

In [2]:
d["Age"]

45

In [3]:
d["Non Existent Key"]

KeyError: 'Non Existent Key'

In [4]:
d["Salary"] = 35533

In [5]:
d

{'Age': 45,
 'Name': 'John Doe',
 'active': False,
 'Hobbies': ['Swimming', 'Jumping Around'],
 'Bank Details': {'Account Number': '876787676576', 'Bank Code': 'EOD874hd'},
 'Salary': 35533}

In [6]:
d["Bank Details"]["IFSC Code"] = "EXTPOR98484"

In [7]:
d

{'Age': 45,
 'Name': 'John Doe',
 'active': False,
 'Hobbies': ['Swimming', 'Jumping Around'],
 'Bank Details': {'Account Number': '876787676576',
  'Bank Code': 'EOD874hd',
  'IFSC Code': 'EXTPOR98484'},
 'Salary': 35533}

In [8]:
d.get("Age")

45

In [10]:
d.get("Age", 66)

45

In [11]:
d_copy = d.copy()

In [12]:
del d_copy["Age"]

In [14]:
d_copy

{'Name': 'John Doe',
 'active': False,
 'Hobbies': ['Swimming', 'Jumping Around'],
 'Bank Details': {'Account Number': '876787676576',
  'Bank Code': 'EOD874hd',
  'IFSC Code': 'EXTPOR98484'},
 'Salary': 35533}

In [15]:
d_copy.get("Age", 66)

66

In [18]:
x = d_copy.get("Age")

In [19]:
type(x)

NoneType

In [20]:
d.update?

In [21]:
d

{'Age': 45,
 'Name': 'John Doe',
 'active': False,
 'Hobbies': ['Swimming', 'Jumping Around'],
 'Bank Details': {'Account Number': '876787676576',
  'Bank Code': 'EOD874hd',
  'IFSC Code': 'EXTPOR98484'},
 'Salary': 35533}

In [25]:
d_changes = {
    "Age": 47,
    "active": True,
    "Designation": "Manager"
}

In [26]:
d.update(d_changes)

In [27]:
d

{'Age': 47,
 'Name': 'John Doe',
 'active': True,
 'Hobbies': ['Swimming', 'Jumping Around'],
 'Bank Details': {'Account Number': '876787676576',
  'Bank Code': 'EOD874hd',
  'IFSC Code': 'EXTPOR98484'},
 'Salary': 35533,
 'Designation': 'Manager'}

In [28]:
d['Age'] = 48

In [29]:
d.update({'Age': 49})

In [30]:
d.keys()

dict_keys(['Age', 'Name', 'active', 'Hobbies', 'Bank Details', 'Salary', 'Designation'])

In [31]:
d.values()

dict_values([49, 'John Doe', True, ['Swimming', 'Jumping Around'], {'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'}, 35533, 'Manager'])

In [32]:
for k in d.keys():
    print(k)

Age
Name
active
Hobbies
Bank Details
Salary
Designation

In [33]:
for v in d.values():
    print(v)

49
John Doe
True
['Swimming', 'Jumping Around']
{'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'}
35533
Manager

In [34]:
for k in d.keys():
    print("Key =", k, "Value = ", d[k])

Key = Age Value =  49
Key = Name Value =  John Doe
Key = active Value =  True
Key = Hobbies Value =  ['Swimming', 'Jumping Around']
Key = Bank Details Value =  {'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'}
Key = Salary Value =  35533
Key = Designation Value =  Manager

In [35]:
for k, v in d.items():
    print(k, " -> ", v)

Age  ->  49
Name  ->  John Doe
active  ->  True
Hobbies  ->  ['Swimming', 'Jumping Around']
Bank Details  ->  {'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'}
Salary  ->  35533
Designation  ->  Manager

In [37]:
d.items()

dict_items([('Age', 49), ('Name', 'John Doe'), ('active', True), ('Hobbies', ['Swimming', 'Jumping Around']), ('Bank Details', {'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'}), ('Salary', 35533), ('Designation', 'Manager')])

In [38]:
a_tuple = (1,2,3)

In [39]:
x, y, z = a_tuple

In [40]:
x

1

In [41]:
y

2

In [42]:
z

3

In [43]:
list_of_tuples = [
    (1, 1),
    (2, 4),
    (3, 9)
]

In [44]:
for tup in list_of_tuples:
    print(tup)

(1, 1)
(2, 4)
(3, 9)

In [45]:
for tup1, tup2 in list_of_tuples:
    print(tup1, '->', tup2)

1 -> 1
2 -> 4
3 -> 9

In [46]:
for tup2, tup1 in list_of_tuples:
    print(tup1, '->', tup2)

1 -> 1
4 -> 2
9 -> 3

In [47]:
for v, k in d.items():
    print(k, "->", v)

49 -> Age
John Doe -> Name
True -> active
['Swimming', 'Jumping Around'] -> Hobbies
{'Account Number': '876787676576', 'Bank Code': 'EOD874hd', 'IFSC Code': 'EXTPOR98484'} -> Bank Details
35533 -> Salary
Manager -> Designation

In [48]:
for tup1, tup2, tup3 in list_of_tuples:
    print(tup1, '->', tup2)

ValueError: not enough values to unpack (expected 3, got 2)

In [49]:
x, y, z = 1,2

ValueError: not enough values to unpack (expected 3, got 2)

# Complex Numbers

In [50]:
x = 1 + 2j

In [51]:
type(x)

complex

In [52]:
x**2

(-3+4j)

In [53]:
x * (1 - 4j)

(9-2j)

In [54]:
x.real

1.0

In [58]:
x.imag()

TypeError: 'float' object is not callable

In [55]:
x.imag

2.0

In [59]:
x.conjugate

In [57]:
x.conjugate()

(1-2j)

# Sets

In [60]:
s = {1,2,3,4}

In [61]:
type(s)

set

In [62]:
s2 = {1,2,3,3,3,4,4,5}

In [63]:
s

{1, 2, 3, 4}

In [64]:
s2

{1, 2, 3, 4, 5}

Differences between sets and lists:

- Lists are ordered, sets are not.
- Lists allow repeating values, sets contain only unique values

In [65]:
s2[0]

TypeError: 'set' object is not subscriptable

In [66]:
s2

{1, 2, 3, 4, 5}

In [68]:
s2.pop()

1

In [69]:
s2.pop()

2

In [70]:
s2

{3, 4, 5}

In [71]:
s2.remove?

In [72]:
s2.remove(5)

In [73]:
s2

{3, 4}

In [74]:
s2 = {"Hello", 3, 5, 6, 7, True}

In [75]:
s2

{3, 5, 6, 7, 'Hello', True}

In [77]:
s2.pop()

True

In [78]:
s2

{3, 5, 6, 7, 'Hello'}

In [79]:
s2.pop()

3

In [80]:
s2.pop()

5

In [81]:
s2

{6, 7, 'Hello'}

In [82]:
s1 = {1,2,3,4,5}

In [83]:
s2 = {4,5,6,7,8}

In [84]:
s1.intersection(s2)

{4, 5}

In [85]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [86]:
s1 - s2

{1, 2, 3}

In [87]:
s1.difference(s2)

{1, 2, 3}

# Example - Word Histogram

Example File

```
word
word
two
three
Seven
seven
five
five
six
john
paul
```

In [88]:
%%writefile "sample.txt"
word
word
two
three
Seven
seven
five
five
six
john
paul

Writing sample.txt

In [89]:
f = open("sample.txt")

In [90]:
f

In [91]:
contents = f.read()

In [92]:
contents

'word\nword\ntwo\nthree\nSeven\nseven\nfive\nfive\nsix\njohn\npaul\n'

In [93]:
print(contents)

word
word
two
three
Seven
seven
five
five
six
john
paul