# Strings

3 different ways of declaring strings.

In [1]:
a = "Hello"

In [2]:
b = 'Hello'

In [3]:
c = """
Hello
"""

Strings are sequences.

In [4]:
a[0]

'H'

In [5]:
a[-1]

'o'

In [6]:
a[4]

'o'

In [7]:
a[1:3]

'el'

In [8]:
a[1:5:2]

'el'

In [9]:
a[::-1]

'olleH'

In [10]:
[-1]

[-1]

Strings are objects. And objects have methods.

In [11]:
a.upper()

'HELLO'

In [12]:
a.lower()

'hello'

In [13]:
a.find('el')

1

In [14]:
len(a)

5

## Assembling Strings

In [15]:
a = 546.454

In [16]:
print(a)

546.454

In [17]:
print("The output is ", a)

The output is  546.454

In [18]:
print("The profit is", a, "dollars.")

The profit is 546.454 dollars.

In [22]:
f = 5600

In [23]:
print(f"The profit is {a} dollars.")

The profit is 546.454 dollars.

In [24]:
print(f)

5600

In [25]:
print("The profit is {} dollars".format(a))

The profit is 546.454 dollars

# If Statements

Is a number odd or even?

In [33]:
input_number = int(input("Enter a number: "))

remainder_with_2 = input_number % 2

if remainder_with_2 == 0:
    print("Number is even.")
    print("Even steven!")
else:
    print("Number is odd.")
    print("Mod odd!")
    
print("End of program.")

Enter a number: 45
Number is odd.
Mod odd!
End of program.

In [34]:
2 > 4

False

In [35]:
2 < 4

True

In [36]:
4 > 4

False

In [37]:
4 >= 4

True

In [38]:
4 <= 4

True

In [39]:
5 != 6

True

A program to test if number is greater than 100 and also an even number.

In [50]:
num1 = 44

In [51]:
if num1 % 2 == 0 and num1 > 100 and num1 < 1000:
    print("Both large and even.")
else:
    print("Either not large or not even.")

Either not large or not even.

In [52]:
if num1 % 2 == 0:
    print("Number is even. Checking size.")
    if num1 > 100:
        print("Number is large.")
    else:
        print("Number is small.")
else:
    print("Number is odd. Checking size.")
    if num1 > 100:
        print("Number is large.")
    else:
        print("Number is small.")

Number is even. Checking size.
Number is small.

In [54]:
num1

44

In [53]:
if num1 % 2 == 0 or num1 > 100:
    print("True")

True

In [58]:
num1 = 400

In [60]:
if num1 < 100:
    print("Number less than 100.")
elif num1 < 200:
    print("Number less than 200.")
elif num1 < 300:
    print("Number less than 300.")
else:
    print("Number 300 or greater.")

Number 300 or greater.

In [61]:
a = num1 < 100

In [62]:
print(a)

False

In [63]:
type(a)

bool

# Lists

In [64]:
a = [1,2.0, "Three", True]

In [65]:
type(a)

list

A list is a sequence / ordered collection.

In [66]:
a[0]

1

In [67]:
a[3]

True

In [68]:
a[-1]

True

In [69]:
a[1:3]

[2.0, 'Three']

In [70]:
a[::-1]

[True, 'Three', 2.0, 1]

In [72]:
a.append("Hello")

In [73]:
a

[1, 2.0, 'Three', True, 'Hello']

In [74]:
a.extend([3.45, False, "Another"])

In [75]:
a

[1, 2.0, 'Three', True, 'Hello', 3.45, False, 'Another']

In [76]:
a.append([3.45, False, "Another"])

In [77]:
a

[1,
 2.0,
 'Three',
 True,
 'Hello',
 3.45,
 False,
 'Another',
 [3.45, False, 'Another']]

In [78]:
a[-1]

[3.45, False, 'Another']

In [79]:
a.pop()

[3.45, False, 'Another']

In [80]:
a

[1, 2.0, 'Three', True, 'Hello', 3.45, False, 'Another']

In [81]:
a.extend([[3.45, False, "Another"]])

In [82]:
a

[1,
 2.0,
 'Three',
 True,
 'Hello',
 3.45,
 False,
 'Another',
 [3.45, False, 'Another']]

In [83]:
a.pop()

[3.45, False, 'Another']

In [84]:
a

[1, 2.0, 'Three', True, 'Hello', 3.45, False, 'Another']

In [85]:
a.remove?

In [86]:
a.remove(2.0)

In [87]:
a

[1, 'Three', True, 'Hello', 3.45, False, 'Another']

In [89]:
a.remove()

TypeError: remove() takes exactly one argument (0 given)

In [90]:
a.pop?

In [91]:
a

[1, 'Three', True, 'Hello', 3.45, False, 'Another']

In [92]:
a.pop(3)

'Hello'

In [93]:
a

[1, 'Three', True, 3.45, False, 'Another']

In [94]:
list1 = [1,2,3]
list2 = [4,5,6]

In [95]:
list1 + list2

[1, 2, 3, 4, 5, 6]

In [96]:
list1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [97]:
"Hello" + "World"

'HelloWorld'

In [98]:
"Hello" * 3

'HelloHelloHello'

## Mutability

In [99]:
a

[1, 'Three', True, 3.45, False, 'Another']

In [100]:
a[0] = "Replacement for 1"

In [101]:
a

['Replacement for 1', 'Three', True, 3.45, False, 'Another']

In [102]:
b = "Hello"

In [103]:
b[0] = "d"

TypeError: 'str' object does not support item assignment

In [104]:
a

['Replacement for 1', 'Three', True, 3.45, False, 'Another']

In [105]:
a[-1] = "Something"

In [106]:
a

['Replacement for 1', 'Three', True, 3.45, False, 'Something']

Lists are mutable. Can be changed in place.
Strings are immutable. Cannot be changed in place.

In [107]:
a = [1,2,3]
b = a

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [108]:
a = [1,2,3]
b = a
b[0] = 10000

print(a)
print(b)

[10000, 2, 3]
[10000, 2, 3]

In [109]:
a = [1,2,3]
b = a.copy()
b[0] = 10000

print(a)
print(b)

[1, 2, 3]
[10000, 2, 3]

# Tuples

In [110]:
a = (1, True, 2.553, "Hello")

In [111]:
type(a)

tuple

In [112]:
a[0] = "NEw"

TypeError: 'tuple' object does not support item assignment

In [116]:
n = [1+1]

In [117]:
n

[2]

In [118]:
nt = (1+1)

In [119]:
nt

2

In [120]:
type(nt)

int

In [127]:
nt = (1+1, )

In [128]:
type(nt)

tuple

In [121]:
complex_expression = (1+2) * 3 + (45-34)

In [129]:
this_is_also_a_tuple = 1,2,3

In [130]:
type(this_is_also_a_tuple)

tuple

### Aside: Warning against choosing variable names

In [125]:
type(a)

tuple

In [126]:
# type=a 
# by accident

# "in"

In [131]:
a

(1, True, 2.553, 'Hello')

In [132]:
1 in a

True

In [133]:
2 in a

False

In [134]:
word = "Hello"

In [135]:
"e" in word

True

In [136]:
"x" in word

False

# Loops

There are two types of loops:

- for loop
- while loop

## for loop

In [137]:
list1 = [1,2,3,4,5,6]

In [138]:
for i in list1:
    print(i)

1
2
3
4
5
6

print() by default creates a new line once it is run. To prevent this,

In [139]:
for i in list1:
    print(i, end=' ')

1 2 3 4 5 6

In [140]:
for my_favorite_name in list1:
    print(my_favorite_name)

1
2
3
4
5
6

In [141]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [142]:
for i in range(4, 10):
    print(i)

4
5
6
7
8
9

In [143]:
for i in range(4, 4+10):
    print(i)

4
5
6
7
8
9
10
11
12
13

In [145]:
for i in range(4, 10, 2):
    print(i)

4
6
8

## while loop

A program to keep asking for integer input from the user until the word 'stop' is written. And then print out these numbers.

In [1]:
# This is an infinite code. Don't run
# while True:
#    print()

In [149]:
entry = input("Enter an integer or type 'stop' to stop: ")

entered_numbers = []

while entry != "stop":
    entered_numbers.append(entry)
    entry = input("Enter an integer or type 'stop' to stop: ")

Enter an integer or type 'stop' to stop: 56
Enter an integer or type 'stop' to stop: 87
Enter an integer or type 'stop' to stop: 43
Enter an integer or type 'stop' to stop: 98
Enter an integer or type 'stop' to stop: 45
Enter an integer or type 'stop' to stop: stop

In [150]:
entered_numbers

['56', '87', '43', '98', '45']

In [154]:
entry = input("Enter an integer or type 'stop' to stop: ")

entered_numbers = []

while entry != "stop":
    entered_numbers.append(int(entry))
    entry = input("Enter an integer or type 'stop' to stop: ")

Enter an integer or type 'stop' to stop: 23
Enter an integer or type 'stop' to stop: 34
Enter an integer or type 'stop' to stop: 45
Enter an integer or type 'stop' to stop: stop

In [156]:
entered_numbers

[23, 34, 45]

## break and continue

In [157]:
entered_numbers = []

while True:
    entry = input("Enter an integer or 'stop': ")
    if entry == "stop":
        break
    else:
        entered_numbers.append(int(entry))
        
print(entered_numbers)

Enter an integer or 'stop': 23
Enter an integer or 'stop': 43
Enter an integer or 'stop': 53
Enter an integer or 'stop': stop
[23, 43, 53]

In [159]:
for i in range(100):
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [162]:
for i in range(10):
    if i % 2 == 0:
        continue
        print(i)

## Dictionaries

In [163]:
d = {"key1": "Value1", "key2": "value2"}

In [168]:
d = {"Name": "Agent Smith",
     "Age": 456,
     "Abilities": ["Self Replication", "Martial Arts"],
     666: False
    }

In [169]:
print(d)

{'Name': 'Agent Smith', 'Age': 456, 'Abilities': ['Self Replication', 'Martial Arts'], 666: False}

In [170]:
d

{'Name': 'Agent Smith',
 'Age': 456,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: False}

In [171]:
d["Name"]

'Agent Smith'

In [172]:
d[666]

False

In [173]:
d["Age"]

456

In [174]:
d["Job"]

KeyError: 'Job'

In [175]:
d

{'Name': 'Agent Smith',
 'Age': 456,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: False}

In [176]:
d["Age"] = 789

In [177]:
d

{'Name': 'Agent Smith',
 'Age': 789,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: False}

In [178]:
d[666] = 789

In [179]:
d

{'Name': 'Agent Smith',
 'Age': 789,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: 789}

In [181]:
d["Abilities"][0]

'Self Replication'

In [182]:
d["Job"]

KeyError: 'Job'

In [183]:
d["Job"] = "Caretaker"

In [184]:
d

{'Name': 'Agent Smith',
 'Age': 789,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: 789,
 'Job': 'Caretaker'}

In [185]:
d["Job Description"] = d["Job"]

In [186]:
del d["Job"]

In [187]:
d

{'Name': 'Agent Smith',
 'Age': 789,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: 789,
 'Job Description': 'Caretaker'}

In [188]:
some_d = {
    [1,2,3]: "Today"
}

TypeError: unhashable type: 'list'

In [189]:
some_d = {
    (1,2,3): "Today"
}

In [190]:
nested_dictionaries = {
    "Name": "Smith",
    "Job Profile": {
        "Designation": "Caretaker",
        "Level": 45
    }
}

In [191]:
d

{'Name': 'Agent Smith',
 'Age': 789,
 'Abilities': ['Self Replication', 'Martial Arts'],
 666: 789,
 'Job Description': 'Caretaker'}

In [192]:
"Name" in d

True

In [193]:
"Agent Smith" in d

False

In [194]:
for i in d:
    print(i)

Name
Age
Abilities
666
Job Description

In [196]:
for i in d:
    print(d[i])

Agent Smith
789
['Self Replication', 'Martial Arts']
789
Caretaker